.restaurants-list {
    background-color: whitesmoke;
    display: flex;
    align-items: left;
    text-align: left;
    height: 800px;
    width: 800px;
    overflow-y: scroll;
}

table {
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
    /*background-color: whitesmoke;*/
}