.restaurants-list {
    background-color: lightgrey;
    display: flex;
    align-items: left;
    text-align: left;
    overflow-y: scroll;
    flex-grow: 1;
}

table {
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
}