.header {
    background-image: url('../../images/Food.jpg') ;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header-text {
    display: inline-block;
    font-weight: 700;
    font-size: 130px;
    margin: 0;
    color: dimgrey;
    text-shadow: 2px 2px lightgrey;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.sub-header-text {
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    margin: 10px;
    color: lightgrey;
    text-shadow: 1px 1px lightgrey;
}
