.map-name{
    color: dimgrey;
    font-size: 15px;
    font-weight: 800;
    text-shadow: 1px 1px lightgrey;
}

.map {
    height: 65vh;
    width: 60%;
}

.location {
    height: 30px;
    width: 30px;
}